
/platforms/MacOS/Iota.xcodeproj/project.xcworkspace/xcuserdata/matt.xcuserdatad
.DS_Store
/platforms/MSWindows/VisualStudio/.vs
/platforms/MSWindows/VisualStudio/*.user
/platforms/MSWindows/VisualStudio/.vs
/platforms/MSWindows/VisualStudio/Debug
/platforms/MSWindows/VisualStudio/Release
/src/data/binaryData.cpp
/src/data/binaryData.h
/src/userInterface/IAGUIMain.cpp
/src/userInterface/IAGUIMain.h
Notes/a.out
Notes/colorcard.psd
Notes/test.cpp
docs/
/platforms/MacOS/Iota.xcodeproj/xcuserdata/

/Notes/Iota.jpg
/Notes/Iota.psd
